{% extends "base.html" %}



{% block content %}
<div class="flex items-center justify-center min-h-[calc(60vh-12rem)]">
  <div class="py-24 sm:py-32">
    <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
      <h2 class="text-center text-base/7 font-semibold text-indigo-600">Weather4u</h2>
      <p class="mx-auto mt-2 max-w-lg text-center text-4xl font-semibold tracking-tight text-balance sm:text-5xl">
        Everything you need to plan your day
      </p>

      <div class="mt-8 bg-base-100 w-full max-w-md p-6 rounded-xl shadow-xl shadow-xl/30 mx-auto">
        <form method="GET" action="{% url 'weather4u:weather' %}"
              class="flex flex-col sm:flex-row items-center justify-center gap-4">
            <label>
                <input
                  type="text"
                  name="zipcode"
                  placeholder="Enter ZIP code"
                  required
                  class="w-full sm:w-auto px-4 py-2 rounded-lg border border-gray-300 focus:ring-2 focus:ring-blue-400 focus:outline-none"
                />
            </label>
            <button
            type="submit"
            class="bg-indigo-500 text-white shadow-lg shadow-indigo-500/50 px-6 py-2 rounded-lg  transition"
          >
            Get Weather
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
